<header class="bg-primary">
  <div class="container-md px-0 d-md-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="index.html">
        <img src="../assets/images/logo-white.png" alt="logo-white">
      </a>
    </div>
    <ul class="d-md-flex fs-5 mb-0">
      <li class=""><a href="">系列鏡框</a></li>
      <li class=""><a href="">門市據點</a></li>
      <li class=""><a href="">部落格</a></li>
      <li class=""><a href="">常見問題</a></li>
    </ul>
  </div>
</header>