.w83-83 {
  font-size: 83.83px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mb-72 {
  margin-bottom: 72px;
}

.fz-48 {
  font-size: 48px;
}

.fw-black {
  font-weight: 900;
}

.fz-24 {
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.mx-auto {
  margin: 0 auto;
}

.form-btn {
  max-width: 416px;
}