header{
  .logo {
    padding: 16px;
  }
  ul {
    gap: 64px;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      li {
        width: 50%;
        border: 1px solid #FFFFFF;
        padding: 12px;
      }
    }
  }
  img {
    width: 80px;
    transition: .5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  a {
    color: #FFFFFF;
    transition: .3s;
    &:hover {
      color: black;
    }
  }
}