.banner {
  background: url('../images/home-header.png');
  background-size: cover;
  padding: 296px 0;
  &_content {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 6px 12px;
  }
}