<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>week4</title>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container banner_content">
        <h3 class="fs-3 text-info ms-auto">Promise-Desert 2020 早春系列</h3>
        <h1 class="fs-1 text-info fw-bold ms-auto">看得清，才能看得遠</h1>
        <a class="bg-primary fs-5 mt-1 ms-auto" href="#">立即購買</a>
      </div>
    </div>
    <section class="introduction bg-secondary">
      <div class="container">
        <h2 class="text-info fw-bold fs-2">用專業的心，做專業的事</h2>
        <ul class="row">
          <li class="col-md-6 col-lg-3 introduction_card">
            <span class="material-icons-outlined fz-64 text-info w83-83">
              paid
            </span>
            <h4 class="fs-4 text-info fw-bold">單一價格</h4>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-md-6 col-lg-3 introduction_card">
            <span class="material-symbols-outlined fz-64 text-info w83-83">
              schedule
            </span>
            <h4 class="fs-4 text-info fw-bold">20 分鐘即可取件</h4>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-md-6 col-lg-3 introduction_card">
            <span class="material-icons-outlined fz-64 text-info w83-83">
              favorite_border
            </span>
            <h4 class="fs-4 text-info fw-bold">安心售後服務</h4>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-md-6 col-lg-3 introduction_card">
            <span class="material-icons-outlined fz-64 text-info w83-83">
              voicemail
            </span>
            <h4 class="fs-4 text-info fw-bold">關於鏡片</h4>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>

    <div class="container classic">
      <h2 class="mb-48 fs-2 text-info fw-bold fz-24">經典系列鏡框</h2>
      <div class="row justify-content-center mx-0">
        <div class="col-lg-4 col-md-7 mb-4">
          <img src="../assets/images/home-section3-1.png" alt="black-woman">
          <h2 class="fs-2 fst-italic text-primary fw-black">OPTICAL</h2>
        </div>
        <div class="col-lg-4 col-md-7 mb-4">
          <img src="../assets/images/home-section3-2.png" alt="longhair-woman">
          <h2 class="fs-2 fst-italic text-primary fw-black">SUNGLASSES</h2>
        </div>
        <div class="col-lg-4 col-md-7">
          <img src="../assets/images/home-section3-3.png" alt="oldman">
          <h2 class="fs-2 fst-italic text-primary fw-black">FUNCTIONAL</h2>
        </div>
      </div>
    </div>

    <section class="designFrame">
      <div class="container">
        <h2 class="text-white fs-2 fw-bold mb-48">聯名設計鏡框</h2>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <img src="../assets/images/home-section4-1.png" alt="">
            <h2 class="bg-white fs-2 fst-italic fw-black text-primary py-2">DOUBLE A+</h2>
          </div>
          <div class="col-lg-6">
            <img src="../assets/images/home-section4-2.png" alt="">
            <h2 class="bg-white fs-2 fst-italic fw-black text-primary py-2">YOUTH</h2>
          </div>
        </div>
      </div>
    </section>
    <div class="container customerRecommend">
      <h2 class="fs-2 text-info fw-bold mb-48">顧客推薦</h2>
      <ul class="row">
        <li class="col-lg-3 col-md-6 py-3">
          <div class="card">
            <div class="card_img">
              <img src="../assets/images/home-section5-1.png" alt="pink-girl">
            </div>
            <div class="card_item">
              <div class="card_item_text">
                <p class="fw-medium">Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <span>2021/06/20</span>
            </div>
          </div>

        </li>
        <li class="col-lg-3 col-md-6 py-3">
          <div class="card">
            <div class="card_img">
              <img src="../assets/images/home-section5-2.png" alt="close-eye-girl">
            </div>
            <div class="card_item">
              <div class="card_item_text">
                <p class="fw-medium">凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <span>2021/04/18</span>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 py-3">
          <div class="card">
            <div class="card_img">
              <img src="../assets/images/home-section5-3.png" alt="gray-girl">
            </div>
            <div class="card_item">
              <div class="card_item_text">
                <p class="fw-medium">悠悠</p>
                <p> 謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <span>2020/12/25</span>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 py-3">
          <div class="card">
            <div class="card_img">
              <img src="../assets/images/home-section5-4.png" alt="people-watching-aside">
            </div>
            <div class="card_item">
              <div class="card_item_text">
                <p class="fw-medium">Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <span>2020/10/31</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <section class="contactUs">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-6">
            <h2 class="text-info fs-2 fw-bold mb-4">聯絡我們</h2>
            <p class="mb-4">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form>
              <div class="mb-16">
                <label for="name" class="mb-2">姓名</label><br>
                <input type="text" name="name" id="name" placeholder="陳小明">
              </div>
              <div class="mb-16">
                <label for="tel" class="mb-2">聯絡電話</label><br>
                <input type="tel" name="tel" id="tel" placeholder="0912-345-678">
              </div>
              <div class="mb-16">
                <label for="email" class="mb-2">電子郵件</label><br>
                <input type="email" name="email" id="email" placeholder="example@email.com">
              </div>
              <div class="mb-16">
                <label for="response" class="mb-2">意見反應</label><br>
                <textarea name="response" id="response" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
              </div>
              <div class="checkbox">
                <input class="me-1" type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <a href="#" class="d-block btn btn-primary text-white py-3 mt-7 form-btn mx-auto">確認送出</a>
            </form>

          </div>
        </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>